<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <beebots>
            <scheduled_cache_flush>
                <enabled>0</enabled>
            </scheduled_cache_flush>
        </beebots>
    </default>
</config>
