<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <type name="BeeBots\ScheduledCacheFlush\Ui\DataProvider\Manage\ListingDataProvider">-->
<!--        <plugin name="beebots_scheduled_cache_flush_manage_listing_attributes" type="BeeBots\ScheduledCacheFlush\Plugin\AddAttributesToUiDataProvider"/>-->
<!--    </type>-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="scheduled_cache_flush_manage_listing_data_source" xsi:type="string">BeeBotsScheduledCacheFlushCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="BeeBotsScheduledCacheFlushCollection" type="BeeBots\ScheduledCacheFlush\Ui\DataProvider\Manage\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">beebots_scheduled_cache_flush</argument>
            <argument name="resourceModel" xsi:type="string">BeeBots\ScheduledCacheFlush\Model\ResourceModel\ScheduledCacheFlush</argument>
        </arguments>
    </virtualType>
</config>
