<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BeeBots_ScheduledCacheFlush::manage_index"
             title="Scheduled Cache Management"
             sortOrder="10"
             module="BeeBots_ScheduledCacheFlush"
             action="scheduled_cache_flush/manage"
             resource="Magento_Backend::cache"
             parent="Magento_Backend::system_tools"/>
    </menu>
</config>
