<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="admin">
     <route id="scheduled_cache_flush" frontName="scheduled_cache_flush" >
        <module name="BeeBots_ScheduledCacheFlush"/>
     </route>
  </router>
</config>
